{% extends 'base.html.twig' %}


{% block body %}
	<h1 class="text-center">Trader index</h1>
	

	<table class="table text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Prénom</th>
				<th>Email</th>
				<th>Téléphone</th>
				<th>Nom de l'entreprise</th>
				<th>Siren</th>
				<th>Détails</th>
				<th>Modifier</th>
			</tr>
		</thead>
		<tbody>
			{% for trader in traders %}
				<tr>
					<td>{{ trader.id }}</td>
					<td>{{ trader.lastnameboss }}</td>
					<td>{{ trader.firstnameboss }}</td>
					<td>{{ trader.email }}</td>
					<td>{{ trader.phone }}</td>
					<td>{{ trader.compagnyname }}</td>
					<td>{{ trader.siren }}</td>
					<td>
						<a href="{{ path('app_trader_show', {'id': trader.id}) }}">détails
							{{trader.compagnyname}}</a>
					</td>
					<td>
						<a href="{{ path('app_trader_edit', {'id': trader.id}) }}">modifier
							{{trader.compagnyname}}
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="13">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_trader_new') }}">Create new</a>
{% endblock %}
