{% extends 'base.html.twig' %}

{% block title %}Categoryproduct{% endblock %}

{% block body %}
    <h1 class="text-center">Categoryproduct</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoryproduct.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ categoryproduct.title }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categoryproduct_index') }}">back to list</a>

    <a href="{{ path('app_categoryproduct_edit', {'id': categoryproduct.id}) }}">edit</a>

    {{ include('categoryproduct/_delete_form.html.twig') }}
{% endblock %}
